html{
    font-size: 62.5%;
}

body {
    background: #fff;
    font-size: $m-size;
    font-family: Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

*, *:before, *:after {
    box-sizing: border-box;
  }